@if(languageText == 'ES'){
<a (click)="changeLanguage('en')" class="flex items-center gap-1 cursor-pointer text-gray-900 dark:text-gray-100 hover:text-blue-600 dark:hover:text-blue-400 transition-colors">
   <app-icon-lang></app-icon-lang>
  <span class="font-medium text-sm">ES</span>
</a>
}@else {
<a (click)="changeLanguage('es')" class="flex items-center gap-1 cursor-pointer text-gray-900 dark:text-gray-100 hover:text-blue-600 dark:hover:text-blue-400 transition-colors">
   <app-icon-lang></app-icon-lang>
  <span class="font-medium text-sm">EN</span>
</a>
}
