@import "tailwindcss";

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

/* Material Icons sizes */
.material-icons.md-48 { font-size: 48px; width: 48px; height: 48px; }
.material-icons.md-64 { font-size: 64px; width: 64px; height: 64px; }
.material-icons.md-96 { font-size: 96px; width: 96px; height: 96px; }
